body {
  background-color: var(--body-color);
}

img {
  max-width: 100%;
  border-radius: 5px;
}

input {
  height: min-content;
}

a {
  text-decoration: none;
}

a, button, .btn {
  cursor: pointer;
  line-height: 1.5;
  font-size: 1rem;
  height: min-content;
}

.container {
  max-width: 1440px; 
  margin: auto;
}

.btn {
  font-weight: bold;
  color: white;
  background-color: #3F51B5;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  border: none;
}

.btn-transparent {
  background-color: transparent;
  border: none;
}

.btn-transparent > img {
  display: block;
}

.btn-link {
  border: none;
  background-color: transparent;
  display: inline;
  text-align: left;
}

.section-title {
  margin-bottom: 1rem;
}

.preloader {
  margin: 2rem;
  height: 50px;
  object-fit: contain;
}

.info-text {
  margin: 2rem;
  font-size: 2rem;
  color: var(--gray-color);
}

.text-nowrap {
  white-space: nowrap; 
  max-width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis; 
}