.drop-menu {
  min-width: 200px;
  border-radius: 5px;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);

  position: absolute;
  top: 80px;
  right: 15px;
  z-index: var(--z-index-modal)
}

.drop-menu > * {
  color: var(--secondary-color);
}